@import "tailwindcss";
@plugin "daisyui";

:root {
  --colour-content: #e5eee4;
  --colour-section: #c0e1d2;
  --colour-button: #7fb7a6;
  --colour-button-hover: #5f9f8c;
  --colour-surface: #c0e1d2;
  --colour-text: #000000;
}

[data-theme="dark"] {
  --colour-content: #070f2b;
  --colour-section: #131a3a;
  --colour-surface: #313f85;
  --colour-button: #5f6bc1;
  --colour-button-hover: #4c5ab0;
  --colour-text: #f4f6ff;
}

*,
::before,
::after {
  box-sizing: border-box;
}
